/* 
*  @autor Wesley 
*  @version 1.0
*/

/* =============================== layout =============================== */
body {
    /* background: linear-gradient(90deg,#449522,#9EDB47, transparent),  */
    background: linear-gradient(90deg, rgba(68, 149, 34, 0.5),rgba(158, 219, 71, 0.5)), 
                url('src/img/capa.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}

/* -- Barra de navegação -- */

/* -- Imagem de Capa -- */
.capa {
    display: table;
    width: 100%;
}

.federal-titulo {
    margin-top: 150px;
}

/* -- Botões -- */
.btn-custom{
    background-color: #ffff;
}

/*=========================== Quem somos ========================*/
.quem-somos{
    color: #4A4A4A;
    background: white;
    padding-top: 80px;
    padding-bottom: 20px;
    Font-family: Open-Sans-Regular;
    Font-size: 20px;
    line-height: 40px;
}

.conteudo1 p{
    margin-right: 110px;
}

.imagem-logo{
    width: 280px;
    height: 250px;
    position: relative;
    padding-bottom: 20px;
    Font-family: Open-Sans-Bold;
    Font-size: 25px;
    color: #ffffff;
}
/* -- Seção serviço -- */


/* -- Seção recursos -- */


/* -- Rodapé -- */

footer {
    background: #000;
    padding: 50px 0px 20px 0px;
    position: relative;
}



/* =============================== Tipografia =============================== */

h1 {
    color: #ffff;
    font-weight: 700;
}

.quem-somos h3{
    color: #417505;
}

/* Media queries */
/* xs < 768 */
@media screen and (max-width: 767px) {
    h1{
        font-size: 20px;
    }
    .btn-custom {
        margin: 10px 15px;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    h1{
        font-size: 35px;
    }
}

/* md */
@media screen and (min-width: 992px) {
    h1{
        font-size: 50px;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    h1{
        font-size: 70px;
    }
}

/* Fim Media Queries */

